.App {
  text-align: center;
  font-family: "Work Sans", sans-serif;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;

}

.search-bar{

  border: 2px solid #D3D3D3;
  width: 35.71rem;
  border-radius: 4px;
  padding-block: 6px;
  padding-inline: 6px;
  margin-inline: auto;
  margin-top: 15%;
  height: 28px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;



}


.search-bar .search-btn{
  background-color: cornflowerblue;
  color: white;
  padding: 6px;
  border-radius: 4px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.firstDiv , .secondDiv , .thirdDiv , .fourthDiv , .fifthDiv {
  margin-inline: auto;
  position: absolute;
  width: 100%;
  text-align: center;

}

.firstDiv {
  top: 10%;
}

.secondDiv{
  top: 20%;
}

.thirdDiv{
  top: 20%;
}

.fourthDiv{
  top: 20%;
}

.fifthDiv{
  top:20%
}

.sixthDiv{
  margin-inline: auto;
  /* position: absolute; */
  width: auto;
  height: auto;
  text-align: center;
  /* top: 10%; */

}

.sixthDiv span{
  font-weight: 400;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.sixth



.firstDiv h1{
  font-size: 4.5rem;
  font-weight: 600;
  
}

h1 .caption {

  font-size: 1.2rem;
  font-weight: lighter;
  color: gray;
  margin-top: 50px;
  

}

.secondDiv h1{
  font-size: 3rem;
  font-weight: 400;
  

}


.thirdDiv h1, .fourthDiv h1 , .fifthDiv h1{
  font-size: 2rem;
  font-weight: 400;
}

.baloons {
  position: relative;
  width: 100%;

}

.baloons img {
  display: inline-block;
  position: absolute;
  /* width: 600px;
  height: 600px; */
}

/* .baloons img:nth-child(even) {
  left: -10%;
  
}

.baloons img:nth-child(odd) {
  right: -10%;
}

.baloons img:nth-child(3n + 0) {
  left: 30%;
} */

.baloons .baloon1{

  left: 25px;
  

}


.baloons .baloon2{

  right: 25px;
  top: 200px;

}

.baloons .baloon3{

  right: 100px;
  top: 550px;

}

.baloons .baloon4{

  left: 20px;
  top: 700px;

}

.baloons .baloon5{

  right: 15px;
  top: 1060px;

}


.baloons .baloon6{

  right: 625px;
  top: 1200px;

}

.baloons .baloon7{

  left: 125px;
  top: 1400px;

}

.baloons .baloon8{

  right: 300px;
  top: 1700px;

}

.baloons .baloon9{

  left: 100px;
  top: 2000px;

}

.baloons .baloon10{

  right: 15px;
  top: 2200px;

}

.baloons .baloon11{

  right: 15px;
  top: 2500px;

}

.baloons .baloon12{

  left: 15px;
  top: 2800px;

}

.baloons .baloon13{

  right: 15px;
  top: 3200px;

}

.baloons .baloon14{

  right: 625px;
  top: 3600px;

}

.baloons .baloon15{

  left: 300px;
  top: 4000px;

}

.baloons .baloon16{

  left: 500px;
  top: 4300px;

}

.baloons .baloon17{

  right: 158px;
  top: 4600px;

}

.baloons .baloon18{

  right: 15px;
  top: 5000px;

}

.baloons .baloon19{

  left: 15px;
  top: 5300px;

}

.baloons .baloon20{

  right: 705px;
  top: 5600px;

}

.baloons .baloon21{

  right: 35px;
  top: 5900px;

}

.baloons .baloon22{

  left: 150px;
  top: 6200px;

}

.baloons .baloon23{

  right: 905px;
  top: 7400px;

}

.baloons .baloon24{

  left: 955px;
  top: 7700px;

}

.baloons .baloon25{

  left: 745px;
  top: 8000px;

}


.mainDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  margin-top: -500px;
}

.wish-hbd-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wish-hbd-div div{
  margin-inline: 2px;
  font-size: xx-large;
  /* color: rgb(236, 106, 175); */
}


/* .block {
  background: rgb(179, 36, 36);
  cursor: pointer;
  height: 20px;
  width: 30px;
  color: black;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  transform: rotate(180deg); 
  display: flex;
  justify-content: center;
  align-items: center;
} */

.cake {
  position: relative;
  height: 260px;
  width: 200px;
  margin-inline: auto;
  /* top:40px;
  top: 60px; */
  /* left: 37%; */
}

.card:after {
  content:"";
  position: absolute;
  height: 5px;
  border-radius: 0 10px 10px 0;
  width: 122px;
  background-color: rgba(0,0,0,0.1);
  top:340px;
  left:193px;
}

.cake-bottom {
  position: absolute;
  width:200px;
  height: 60px;
  background-color: #06d6a0;
  top:175px;
  /* left:91px; */
  border-radius: 7px 7px 0 0;
  overflow: hidden;
}

.cake-bottom:after {
  content:"";
  position: absolute;
  width: 30px;
  height: 15px;
  left:-5px;
  border-radius: 0 0 50px 50px;
  background-color: white;
  box-shadow: 30px 0 white, 60px 0 white, 90px 0 white, 120px 0 white, 150px 0 white, 180px 0 white;
}

.cake-bottom:before {
  content:"";
  position: absolute;
  background-color: #ef476f;
  width: 30px;
  height: 60px;
  left:25px;
  box-shadow: 60px 0 #ef476f, 120px 0 #ef476f;
}

.cake-middle {
  position: absolute;
  width: 150px;
  height: 60px;
  background-color: #118ab2;
  border-radius: 7px 7px 0 0;
  top:115px;
  /* left:117px; */
  left:25px;
  box-shadow: inset 0 -20px #073b4c;
  overflow: hidden;
}

.cake-middle:before {
  content:"";
  position:absolute;
  background-color: #ef476f;
  border-radius:50%;
  width:10px;
  height: 10px;
  top:20px;
  left: 10px;
  box-shadow: 15px 10px #ffd166, 30px 0 #06d6a0, 45px 10px #ef476f, 60px 0 #ffd166, 75px 10px #06d6a0, 90px 0 #ef476f, 105px 10px #ffd166, 120px 0 #06d6a0;
}

.cake-middle:after {
  content:"";
  position: absolute;
  width: 30px;
  height: 15px;
  left:0;
  border-radius: 0 0 50px 50px;
  background-color: white;
  box-shadow: 30px 0 white, 60px 0 white, 90px 0 white, 120px 0 white;
}

.cake-top {
  position: absolute;
  width:100px;
  height: 60px;
  background-color: #ef476f;
  border-radius: 7px 7px 0 0;
  top:55px;
  /* left:143px; */
  left: 50px;
  overflow: hidden;
  box-shadow: inset 0 20px #118ab2;
}

.cake-top:before {
  content:"";
  position: absolute;
  background-color: #118ab2;
  width: 15px;
  height:35px;
  left:-5px;
  border-radius:20px;
  box-shadow: 15px 10px #ef476f, 30px 5px #118ab2, 45px 5px #ef476f,60px -10px #118ab2, 75px 10px #ef476f, 90px 0 #118ab2; 
}

.cake-top:after {
  position: absolute;
  content:"";
  background-color: rgba(0,0,0,0.1);
  width:50px;
  border-radius: 0 7px 0 0;
  height: 60px;
  left:50px;
}

.candle {
  position: absolute;
  background: repeating-linear-gradient(-45deg, white, white 5px,
  #06d6a0 5px, #06d6a0 10px);
  width:8px;
  height: 30px;
  border-radius: 3px 3px 0 0;
  top:25px;
  left:95px;  
}

.candle:before {
  content:"";
  position: absolute;
  background-color: #333;
  width:1px;
  height:10px;
  top:-10px;
  left:4px;
}

.flame {
  position: absolute;
  opacity:0.7;
}

.flame:before {
  content:"";
  position: absolute;
  background-color: #fb5607;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  transform: rotate(-45deg);
  width:20px;
  height:20px;
  top:0px;
  left:90px;
  animation: scale .5s linear infinite;
}

/* .flame:after {
  content:"";
  position: absolute;
  border-radius: 50%;
  background-color: #ffbe0b;
  width: 11px;
  height: 11px;
  top:61px;
  left:90px;
  animation: scale .5s linear infinite;
} */

@keyframes scale {
  0% {transform: scaleY(1) rotate(-45deg);}
  25% {transform: scaleY(1.3) rotate(-45deg);}
  50% {transform: scaleY(1) rotate(-45deg);}
  75% {transform: scaleY(1.3) rotate(-45deg);}
  100% {transform: scaleY(1) rotate(-45deg);}
}

/* .shadow {
  position: absolute;
  background-color: rgba(0,0,0,0.1);
  height: 60px;
  width: 74px;
  border-radius:0 7px 0 0;
  top:180px;
  left:193px;
} */


/*
.shadow:before, .shadow:after {
  content:"";
  position: absolute;
  background-color: rgba(0,0,0,0.1);
}

.shadow:before {
  height: 60px;
  width:98.5px;
  border-radius:0 7px 0 0;
  top:60px;
}

.shadow:after {
  height: 40px;
  width:5px;
  border-radius: 0 5px 0 0;
  top:-100px;
} */

@media screen and (min-width: 750px) {
  .search-bar {
    width: 35.5rem;
  }
}

@media screen and (max-width: 749px) {
  .search-bar {
    width: 31rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .search-bar {
    width: 20rem;
    font-size: 10px;
  }
}