.App {
  text-align: center;
}

.search-bar{

  border: 2px solid #D3D3D3;
  width: 35.71rem;
  border-radius: 4px;
  padding-block: 6px;
  padding-inline: 6px;
  margin-inline: auto;
  margin-top: 20%;
  height: 28px;
  line-height: 28px;
  display: flex;
  justify-content: space-between;



}


.search-bar .search-btn{
  background-color: cornflowerblue;
  color: white;
  padding: 6px;
  border-radius: 4px;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.firstDiv{
  margin-inline: auto;
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;

}

.firstDiv h1{
  font-size: 4rem;
  
  
}

h1 .caption {

  font-size: small;
  color: gray;
  

}